<div id="share-box-container">
<h4 style="margin:0">Share this:</h4>
<div id="share-box">
                        
<a href="https://github.com/helenbean" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i style="color:#FF4500" class="fa fa-github fa share-button"></i></a>                   

<a href="mailto:heleny_0@aliyun.com?subject={{ page.title }}&amp;body=Check out this site {{ page.url | prepend: site.baseurl | prepend: site.url }}"><i style="color:#555" class="fa fa-envelope fa share-button"></i></a>                            
</div>
</div>
